<div class="add">
  <h1>Dodaj specializacje</h1>
  <form class="form" [formGroup]="form">
    <mat-form-field class="form-field">
      <mat-label>Nazwa</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <div class="button">
      <button mat-button mat-dialog-close color="primary">Anuluj</button>
      <button
        mat-button
        (click)="addSpecialization()"
        color="primary"
        [disabled]="form.invalid"
      >
        Zapisz
      </button>
    </div>
  </form>
</div>
