<div class="add">
  <h1>Dodaj zwierzę</h1>
  <form class="form" [formGroup]="form">
    <mat-form-field class="form-field">
      <mat-label>Nazwa</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Płeć</mat-label>
      <input matInput formControlName="gender" />
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Data urodzenia</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Waga (kg)</mat-label>
      <input matInput formControlName="weightKg" />
    </mat-form-field>

    <mat-slide-toggle formControlName="neutered" color="primary"
      >Wykastrowany</mat-slide-toggle
    >

    <mat-form-field class="form-field">
      <mat-label>Gatunek</mat-label>
      <mat-select formControlName="speciesId">
        <mat-option
          *ngFor="let species of animalsState.speciesList | async"
          [value]="species.id"
        >
          {{ species.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Właściciel</mat-label>
      <mat-select formControlName="ownerId">
        <mat-option
          *ngFor="let owner of animalsState.ownerList | async"
          [value]="owner.id"
        >
          {{ owner.firstName }} {{ owner.lastName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="button">
      <button mat-button mat-dialog-close color="primary">Anuluj</button>
      <button
        mat-button
        (click)="addAnimal()"
        color="primary"
        [disabled]="form.invalid"
      >
        Zapisz
      </button>
    </div>
  </form>
</div>
